<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @three_dee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @three_dee.description %>
</p>

<%= link_to 'Edit', edit_three_dee_path(@three_dee) %> |
<%= link_to 'Back', three_dees_path %>
